<!doctype html>
<html>
	<head>
		<title>Home</title>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="static/pure.css">
		<link rel="stylesheet" type="text/css" href="static/main.css">
	</head>
	<body>
		<header>
		</header>
		<section class="pure-g">
			<div class="pure-u-3-24"></div>
			<div class="pure-u-18-24">
				<h3>Not Found</h3>
			</div>
			<div class="pure-u-3-24"></div>
		</section>
	</body>
</html>