<!doctype html>
<html>
	<head>
		<title>Done</title>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="static/pure.css">
		<link rel="stylesheet" type="text/css" href="static/main.css">
		<link rel="stylesheet" type="text/css" href="static/grids-responsive-min.css">
		<script src="static/kjua.min.js"></script>
		<script src="static/clipboard.min.js"></script>
		
	</head>
	<body>
		<header>
		</header>
		<section class="pure-g">
			<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 pure-g">
				
				<div class="pure-u-24-24 pure-g text-align-center">
					
					<span id="shortUrl" class="pure-u-4-5 finalUrl">{{ shortUrl }}</span>
					<br class="small">
					<button class="pure-button pure-button-primary" data-clipboard-target="#shortUrl" id="clipboardBtn">Add To Clipboard</button>
					
				</div>
				<br class="small">
				{% if password.length > 2 %}
				<div class="pure-u-24-24  pure-g text-align-center">
					
					<span id="shortUrl2" class="pure-u-4-5 finalUrl">{{ shortUrl }}?password={{password}}</span>
					<br class="small">
					<button class="pure-button pure-button-primary" data-clipboard-target="#shortUrl2" id="clipboardBtn2">Add To Clipboard With Password</button>
					
				</div>
				{% endif %}
			</div>
			<div class="pure-u-1-5"></div>
			<hr>
			<div class="pure-u-5-5 pure-g text-align-center" style="background:#0078e7;border-radius:0px 0px 7px 7px;padding-bottom:3rem">
				<br>
				<span style="color:white;">Save QR Code</span>
				<br>
				<br>
				<div id="qrCode" text-align-center">
				</div>
			</div>
		</section>
		<img id="img-buffer" src="static/otter.jpg" style="display:none;">
		<script>
			var el = kjua({text: '{{shortUrl}}',render:'image',crisp:true,minVersion:10,ecLevel:'H',size:250,fill:"#000",mode:'image',quiet:0,image:document.getElementById('img-buffer')});
			document.getElementById("qrCode").appendChild(el);
			new Clipboard("#clipboardBtn");
			
			{% if password.length > 2 %}
				var qa = document.createElement('span');
				qa.innerText = "Without password";
				document.getElementById("qrCode").appendChild(qa);
			{% endif %}
			
			{% if password.length > 2 %}
				var el2 = kjua({text: '{{shortUrl}}?password={{password}}',render:'image',crisp:true,minVersion:10,ecLevel:'H',size:250,fill:"#000",mode:'image',quiet:0,image:document.getElementById('img-buffer')});
				document.getElementById("qrCode").appendChild(el2);
				var qa2 = document.createElement('span');
				qa2.innerText = "With password";
				document.getElementById("qrCode").appendChild(qa2);
				
				new Clipboard("#clipboardBtn2");
			{% endif %}
		</script>
	</body>
</html>