<!doctype html>
<html>
	<head>
		<title>Done</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="static/spectre.css">
		<script src="static/kjua.min.js"></script>
		<script src="static/clipboard.min.js"></script>
	</head>
	<body>
		<header>
			<div class="centered text-center">
				<h1>Otter</h1>
			</div>
			<div class="divider"></div>
		</header>
		<section class="container">
			<div class="columns">
				<div class="column col-gapless col-3 col-xs-11 col-sm-9 text-center centered">
					<span id="shortUrl">{{ shortUrl }}</span>
					<br>
					<button data-clipboard-target="#shortUrl" id="clipboardBtn" class="btn" >Add To Clipboard</button>
				</div>
			</div>
			{% if password.length != "no" %}
			<div class="columns">
				<div class="form-group" id="password-containter-1">
					<label for="url_password">Password</label>
					<input name="password" type="password" id="url_password" class="form-input" value="{{ password }}">
					<label class="form-checkbox text-center" onclick="showHidePassword()">
						<input type="checkbox" id="hasPwd" name="hasPassword" onclick="showHidePassword()">
						<i class="form-icon"></i>Show Password
					</label>
				</div>
			</div>
			{% endif %}
			<div class="divider"></div>
			<br>
			<div class="columns">
				<div class="column col-gapless col-3 col-xs-11 col-sm-9 centered text-center" style="background:#0078e7;padding-bottom:3rem">
					<br>
					<span style="color:white;">Save QR Code</span>
					<br>
					<br>
					<div id="qrCode">
					</div>
				</div>
			</div>
		</section>
		<img id="img-buffer" src="static/otter.jpg" style="display:none;">
		<script>
			function showHidePassword() {
				let x = document.getElementById("url_password");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
			function init() {
				var shortURL = "{{ shortUrl }}"
				window.history.pushState(null, 'Created', `/i/${shortURL}`);
			}
			window.addEventListener('load', init);
			var el = kjua({text: '{{shortUrl}}',render:'image',crisp:true,minVersion:10,ecLevel:'H',size:250,fill:"#000",mode:'image',quiet:0,image:document.getElementById('img-buffer')});
			document.getElementById("qrCode").appendChild(el);
			new Clipboard("#clipboardBtn");
		</script>
		{% include "_footer.njk" %}
	</body>
</html>