<!doctype html>
<html>
	<head>
		<title>Home</title>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="static/pure.css">
		<link rel="stylesheet" type="text/css" href="static/main.css">
		<link rel="stylesheet" type="text/css" href="static/grids-responsive-min.css">
	</head>
	<body>
		<header>
		</header>
		<section class="pure-g">
			<div class="pure-u-1-24 pure-u-sm-3-24"></div>
			<form action="/shorten" method="post" class="pure-u-22-24 pure-u-sm-18-24 pure-form pure-g">
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<div class="pure-u-24-24">
					<input id="url" class="pure-input-1 pure-input-noborder" name="url" type="url" placeholder="URL to shorten" required onblur="checkURL(this)">
				</div>
				<div class="pure-u-sm-24-24"></div>
				<div class="pure-u-24-24">
					<div class="pure-u-0-24 pure-u-sm-6-24"></div>
					<div class="pure-u-24-24 pure-u-sm-12-24">
					<input id="pwd" class="pure-input-noborder pure-input-1" name="password" placeholder="Password ? min 4 characters" minlength=4 maxlength=31>
					</div>
				</div>
				<div class="pure-u-24-24"></div>
				<div class="pure-u-sm-8-24"></div>
				<div class="pure-u-sm-8-24 text-align-center">
					<button id="submitBtn" type="submit" class="pure-input-1 pure-button pure-button-primary">Shorten</button>
				</div>
				<div class="pure-form-message is-error text-align-center pure-24-24">
					<br>
					{% if (message.length > 0) %}{{ message }}{% else %}<br>{% endif %}
				</div>
			</form>
			<div class="pure-u-1-24 pure-u-sm-3-24"></div>
			<script>
				function checkURL (input) {
					var string = input.value;
					if (!~string.indexOf("http")) {
						string = "https://" + string;
					}
					input.value = string;
					return input;
				}
			</script>
		</section>
	</body>
</html>