<!doctype html>
<html>
	<head>
		<title>Password Protected</title>
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../static/pure.css">
		<link rel="stylesheet" type="text/css" href="../static/main.css">
		<link rel="stylesheet" type="text/css" href="../static/grids-responsive-min.css">

	</head>
	<body>
		<header>
		</header>
		<section class="pure-g">
			<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 pure-g">
				<div class="pure-u-24-24 pure-g text-align-center">
					
					<span id="shortUrl" class="pure-u-4-5 finalUrl">{{ shortUrl }}</span>	
					<br>
					<br>
					<span class="pure-u-4-5 passwordError">Password Protected</span>
					<span class="pure-u-4-5 errorType">{{message}}</span>
					<br>
					<br>					
				</div>
				<br>
				<br>
				<form action="/i/{{shortUrl}}" method="post" class="pure-u-24-24 pure-form pure-g">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<div class="pure-u-24-24">
						<div class="pure-u-3-24"></div>
						<div class="pure-u-18-24">
						<input id="pwd" class="pure-input-noborder pure-input-1" name="password" placeholder="Password" minlength=4 maxlength=31 required>
						</div>
					</div>
					<br>
					<br>
					<div class="pure-u-8-24"></div>
					<div class="pure-u-8-24 text-align-center">
						<button id="submitBtn" type="submit" class="pure-input-1 pure-button pure-button-primary">Try</button>
					</div>
				</form>
			</div>
			<div class="pure-u-1-5"></div>
			<hr>
		</section>
	</body>
</html>