<!doctype html>
<html>
	<head>
		<title>Password Protected</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../static/spectre.css">
	</head>
	<body>
		<header>
			<div class="centered text-center">
				<h1>Otter</h1>
			</div>
			<div class="divider"></div>
		</header>
		<section class="container">
			<div class="columns">
				<div class="column col-gapless col-4 col-xs-12 col-sm-6 centered">
					<span class="centered text-center text-large">{{ shortUrl }}</span>
					<span class="centered text-center">Password Protected</span>
					<span class="centered text-center">{{ message }}</span>
				</div>
			</div>
			<div class="columns">
				<!--<div class="column col-gapless col-4 hide-xs col-sm-3"></div>-->
				<div class="column col-gapless col-4 col-xs-12 col-sm-6 centered">
					<form action="/i/{{shortUrl}}" method="post" class="form-horizontal">
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
						<div class="form-group">
							<div class="form-group" id="password-containter-1">
								<label for="url_password">Password</label>
								<input name="password" type="password" id="url_password" class="form-input" value="{{ password }}">
								<label class="form-checkbox text-center" onclick="showHidePassword()">
									<input type="checkbox" id="hasPwd" name="hasPassword" onclick="showHidePassword()">
									<i class="form-icon"></i>Show Password
								</label>
							</div>
						</div>
						<div class="form‐group text-center">
							<button id="submitBtn" type="submit" class="btn btn-primary btn-block">Try</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		{% include "_footer.njk" %}
		{% include "_show_hide_password.njk" %}
	</body>
</html>
