html{
	font-size:16px;
	background-image:url("bg.png");
}

body{
	background:#fefefe;
	box-shadow:2px 2px 5px rgba(0,0,0,0.25);
	max-width:720px;
	margin:auto;
	margin-top:0.5rem;
	padding-top:2rem;
	border-radius:7px;
}

.pure-form-message.is-error{
	color:#d30800;
	font-weight:500;
	font-size:0.75rem;
	text-transform:uppercase;
}

.pure-form input.pure-input-noborder,.pure-form textarea.pure-input-noborder{
	border:0;
	color:#aaa;
	box-shadow:1px 1px 3px #0078e7;
}

.pure-form input.pure-input-noborder:focus, .pure-form textarea.pure-input-noborder:focus{
	box-shadow:1px 1px 3px #0078e7;
}

.text-align-center{
	text-align:center;
}

br.small{
	content: " ";
    display: block;
    margin: 16px 0;
}

.full-width{
	width:100%;
}

.finalUrl{
	padding:1rem 0rem;
	border:1px solid #0078e7;
}

.finalUrl::-moz-selection {
  color: white;
  background: #0078e7;
}

.finalUrl::selection {
  color: white;
  background: #0078e7;
}

.passwordError{
	padding:1rem 2rem;
	font-weight:700;
	font-size:1.5rem;
}

.errorType{
	font-weight:500;
}

.pure-form input:focus:invalid, .pure-form textarea:focus:invalid, .pure-form select:focus:invalid {
    color: #aaa;
    box-shadow:1px 1px 3px #e9322d;
}
.pure-form input:focus:valid, .pure-form textarea:focus:valid, .pure-form select:focus:valid {
    color: #aaa;
    box-shadow:1px 1px 3px rgb(28, 184, 65);
}

@media screen and (max-width:35.6em){
	.pure-form input.pure-input-noborder,.pure-form textarea.pure-input-noborder{
		margin-bottom:8px;
	}
}
@media screen and (min-width:35.5em){
	
}