html{
	font-size:16px;
	background-image:url("bg.png");
}

body{
	background:#fefefe;
	box-shadow:2px 2px 5px rgba(0,0,0,0.25);
	max-width:720px;
	margin:auto;
	margin-top:1rem;
	padding-top:2.5rem;
	border-radius:7px;
}

.pure-form-message.is-error{
	color:#d30800;
	font-weight:500;
}

.pure-form input.pure-input-noborder,.pure-form textarea.pure-input-noborder{
	border:0;
	box-shadow:1px 1px 3px #0078e7;
}

.pure-form input.pure-input-noborder:focus, .pure-form textarea.pure-input-noborder:focus{
	box-shadow:1px 1px 3px #0078e7;
}

.text-align-center{
	text-align:center;
}

br.small{
	content: " ";
    display: block;
    margin: 16px 0;
}

.full-width{
	width:100%;
}

.finalUrl{
	padding:1rem 2rem;
	border:1px solid #0078e7;
}

.finalUrl::-moz-selection {
  color: white;
  background: #0078e7;
}

.finalUrl::selection {
  color: white;
  background: #0078e7;
}